.menuContainer {
    .iconWrapper {
        @apply cursor-pointer flex justify-center items-center h-10 w-10 rounded-md;

        &:hover, &.active {
            background-color: theme('colors.text2');
        }
        .icon {
            color: theme('colors.text1');
            font-size: 20px;
        }
    }
}

.menuContainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 50%;
    transform: translate(0,-50%);
}

.menuToolsContainer {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    margin-top: 16px;
    margin-left: 75px;
}

.colorOuter {
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid #bbb;
    align-self: center;
    margin-top: 8px;
}